:root {
    --main-color: #452145;
    --accent-color: #A284AE;
    --secondary-color: #EDF060;
    --tertiary-color: #2E79DC;

    --background-color: #d9d9f3;
    --background-color-second: #9e9ef7;
}
/* Reset de base*/
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* Banner */
.banner {
    width: 100%;
    height: 100vh;
    background-size: contain;
    background-position: top;
}


/* Displayers */
.Displayer1 {
    width: 100%;
    height: 60vb;
    background: linear-gradient(-45deg, var(--background-color), var(--background-color-second));
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 4vw;
}

.divider{
    height: 1.5vb;
    background: linear-gradient(90deg, rgb(73, 39, 132), rgb(44, 19, 65));
}


.Displayer2 {
    width: 100%;
    height: 50vb;
    background: linear-gradient(-15deg, var(--main-color), var(--background-color-second));
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: left;
    grid-template-columns: repeat(4, 1fr);
    gap: 4vw;
}


.MainTitle2{
    color: rgb(255, 255, 255);
    font-style: 'Montserrat', sans-serif;
    font-size: 1.7vw;
    left: 30px;
    margin-top: -5vw;
    text-align: left;
    position: relative;
    line-height: 2em;
}

.MainSubtitle2{
     font-size: 1.2vw;
    font-style: 'Montserrat', sans-serif;
}


.MainTitle {
    position: absolute;
    color: var(--tertiary-color);
    justify-content: center;
    text-align: center;
    margin-top: -4vw;
    font-size: 4vw;
    line-height: 1.0em;
    font-style: 'Montserrat', sans-serif;
}

.MainSubtitle{
    font-size: 2vw;
    font-style: 'Montserrat', sans-serif;
    color: var(--main-color);
}


.FooterMain {
    height: 4vb;
    background: linear-gradient(90deg, rgb(73, 39, 132), rgb(44, 19, 65));
    align-content: center;
}

.FooterText {
    text-align: left;
    position: relative;
    color: white;
    font-size: 1vw;
}

/* images displaying */

.dispImages1 {
    width: 10vw;
    height: 5vw;
    position: relative;
    top: 5vw;
    border-radius: 10%;
}



/* Navbar */


/* Media queries */
@media all and (max-width: 560px) {

}

/* Navbar */
.navbar {
    width: 100%;
    height: 80px;
    padding: 10 0;
    display: flex;
    align-items: center;
    justify-content: left;
    position: fixed;
    background-color: rgba(114, 107, 107, 0.282);
    z-index: 10;
}

/* Hidden Menu */
.menu-hidden {
    position: absolute;
    left: 40px;
    z-index: 400;
    opacity: 0;
    visibility: hidden;
}


.menu-visible {
    top: 30px;
    position: absolute;
    display: flex;
    left: 22px;
    opacity: 1;
    visibility: visible;
    transform: translateY(50px);
}

.menu-visible ul li{
    list-style: none;
    margin-top: 8px;
    background-color: #a284aea5;
    text-align: center;
}
.menu-visible ul li a{
    text-decoration: none;
    list-style: none;
    color: #ffffff;
    font-size: 25px;
}

.LogImg {
    width: 65px;
    margin-left: 30px;
    cursor: pointer;
    border-width: 3.5px;
    border-radius: 50%;
}
