:root {
    --main-color: #452145;
    --accent-color: #A284AE;
    --secondary-color: #EDF060;
    --tertiary-color: #2E79DC;

    --background-color: #ffffff;
    --background-color-second: #ffffff;
}

.divider {
    height: 8px;
    background-color: var(--main-color);

    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "Montserrat";
    src: url("../assets/font/Montserrat.ttf");
}

/* Reset de base*/
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
}


main {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;

}

h2 {
    text-align: center;


}


h1 {
    font-size: 8vh;
    width: fit-content;
    font-family: 'Montserrat';
}

/* =================
||première section ||
================= */
.firstblock {
    height: 15vh;
    display: flex;
    padding-top: 4%;
    justify-content: center;

}

/* ===================
||   seconde section ||
==================== */

.secondblock {
    height: 700px;
    display: flex;
  
    font-size: 20px;
    padding-left: 20%;
    padding-bottom: 5%;

}

.card {
    border-radius: 18px;
    box-shadow: 10px 5px 20px black;
    width: 500px;
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 20px 15px 30px black;
}
.blockPointetSlide {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 700px;
    margin: 0 70px;
    filter: drop-shadow(0px 5px 10px black);
}

.slideblock {
    width: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
}

.slider {
    display: flex;
    transition: transform 1s ease-in-out;
}

.slide {
    min-width: 100%;
    transition: transform 1s ease-in-out, width 1s ease-in-out;
    border-radius: 20px;
}

.slide img {
    width: 100%;
    display: block;
}

.pointblock {
    position: absolute;  /* maintenant se base sur .slideblock */
    left: 50%;
    transform: translateX(-50%);
    bottom: 15px; /* espace entre le bas du slide et les points */
    text-align: center;
    padding: 5px;
    border-radius: 20px;
   
}

.point {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: var(--accent-color);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    cursor: pointer;
}

.active-point {
    background-color: white;
}

.thirdblock {
    height: 1000px;
}

#indication {
    padding: 70px;
    color: var(--accent-color)
}

/* ===================
||   Le rectangle   ||
==================== */
.container {
    width: 600px;
    height: 500px;
    perspective: 2000px;
    display: flex;
    align-items: center;
    margin: auto;
    filter: drop-shadow(0px 5px 10px black);

}


.cube {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    user-select: none;

}

.cube div {
    height: 100%;
    width: 100%;
    position: absolute;
    align-items: center;
    justify-content: center;
    text-wrap: wrap;
    overflow: hidden;
    font-size: 20px;
    border: 3px solid black;


}

.padding {
    padding: 50px;
}


/*face*/
.front-card {
    transform: rotateY(0deg) translateZ(300px);
    background: var(--tertiary-color);
    color: white;

}

.back-card {
    transform: rotateY(180deg) translateZ(300px);
    background: var(--tertiary-color);
    color: white;
}

.left-card {
    transform: rotateY(-90deg) translateZ(300px);
    background: var(--accent-color);
    color: white;
}

.base-card {
    transform: rotateY(90deg) translateZ(300px);
    background: var(--accent-color);
    color: white;
}


@keyframes rotate {
    from {
        transform: rotateX(0deg) rotateY(0deg);
    }

    to {
        transform: rotateX(360deg) rotateY(360deg);
    }
}

.thirdblock h2 {
    margin: 30px
}



/* ===================
||  les graphiques   ||
==================== */
.chart-container {
    display: flex;
    width: 350px !important;
    height: 350px !important;
    padding: 20px;
    background: #fff;
    border-radius: 18px;
    box-shadow: 0 4px 24px black;
}

.chart-box {
    width: 350px;
    height: 350px;
}

.piecharts {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
    padding-bottom: 24px;
}

.card {
    width: 500px;
    text-align: center;
}



.centrer {
    text-align: center;
}

#blockquatre {
    height: 700px;
}