.divider {
    height: 8px;
    background-color: #492784;
    background: linear-gradient(90deg, #492784, #2c1341);
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: "Montserrat";
    src: url("../assets/font/Montserrat.ttf");
}
/* Reset de base*/
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
}

@media all and (max-width: 560px) {

}
main {
    width: 100%;
    height: 500vh;
    display: flex ;
    flex-direction: column;

}
h2{
    margin-top: 12px;
    margin-bottom: 12px;
    
    
}


h1{
    font-size: 8vh;
    width: fit-content;
    margin-top: 80px;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 500;
    overflow: hidden;
    animation: typing 1.5s steps(15) forwards ;
    
}
@keyframes typing {
    from { width: 0%}
    to { width: 100% }
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.firstblock{
    height: 40vh;
    background: linear-gradient(45deg, #9e9ef7, #A284AE);
    animation: gradient 9s ease infinite;
     background-size: 400% 400%;
}


.secondblock{
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.glass-card {
    width: 50%;
    height: fit-content;
    border-top: 2px solid #FFFFFF75;
    border-left: 2px solid #FFFFFF75;
    box-shadow: 5px 5px 12px #00000035;
    background: #ffffff25;
    border-radius: 15px;
    overflow: hidden;
    backdrop-filter: blur(4px);
    position: absolute;
    text-align: center;
    font-size: 40px;
    color: black;
    text-shadow: 1px 1px 2px #000000;
}
.glass-card h2 {
    color: #111111;
    font-family: 'Montserrat';
}
.imgsize{
    width: 100%;
    height:auto;
    object-fit: cover;
    filter: brightness(0.6)}

/*piramide*/
.container {
    width: 300px;
    height: 300px;
    perspective: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.piramid{
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    animation: rotateX(0deg) rotateY(0deg);
    transition: transform 0.3s;
    user-select: none;
}
.piramid div {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-wrap: wrap;
    overflow: hidden;
    font-size: 20px;
    border: 3px solid #000000;
}
.front-card {
    transform: rotateY(0deg) translateZ(150px);
    background: rgba(255, 0, 150);
    color: white;
}
.back-card {
    transform: rotateY(180deg) translateZ(150px);
    background: rgba(0, 200, 255);
    color: white;
}
.left-card {
    transform: rotateY(-90deg) translateZ(150px);
    background: rgba(0, 255, 150);
    color: white;
}
.base-card {
    transform: rotateY(90deg) translateZ(150px);
    background: rgba(255, 200, 0);
    color: white;
}
.top-card {
    transform: rotateX(90deg) translateZ(150px);
    background: rgba(200, 0, 255);
    color: white;   
}
.bottom-card {
    transform: rotateX(-90deg) translateZ(150px);
    background: rgba(0, 150, 255);
    color: white;
}



@keyframes rotate {
    from { transform: rotateX(0deg) rotateY(0deg); }
    to { transform: rotateX(360deg) rotateY(360deg); }
}









footer{

    background: linear-gradient(90deg, rgb(74, 40, 134), rgb(44, 19, 65));
    height: 50px;
    width: 100%;
    text-align: center;
    padding-top: 40px;
    font-size: 20px;
}
