/* ======================================
   VARIABLES et RESET DE BASE
====================================== */
:root {
    --main-color: #452145;
    --accent-color: #A284AE;
    --secondary-color: #EDF060;
    --tertiary-color: #2E79DC;
}
@font-face {
    font-family: "Montserrat";
    src: url("../assets/font/Montserrat.ttf");
}

* {
    margin: 0;
    padding: 0;
    font-family:'Montserrat', sans-serif;;
}

html {
    scroll-behavior: smooth;
}
p{
   font-family: 'Noto Sans', sans-serif;
}

/* ======================================
   STRUCTURE GÉNÉRALE
====================================== */
main {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.divider {
    height: 8px;
    background-color: var(--main-color);
    padding: 0;
    margin: 0;
}

.highlight {
    color: var(--secondary-color);
}

.blue {
    color: var(--tertiary-color)
}

.centrer {
    text-align: center;
}

/* ======================================
   TYPOGRAPHIE
====================================== */
h1 {
    font-size: 8vh;
    width: fit-content;
}

h2 {
    text-align: center;
    font-size: 30px;
}

.thirdblock h2 {
    margin: 30px;
}

/* ======================================
   structure DES BLOCS
====================================== */
.firstblock {
    height: 15vh;
    display: flex;
    padding-top: 4%;
    justify-content: center;
    text-align: center;
}

.secondblock {
    height: 700px;
    display: flex;
    font-size: 20px;
    padding-left: 20%;
    padding-bottom: 5%;
}

.thirdblock {
    height: 1000px;
}

.blockquatre {
    height: 1000px;
}

/* ======================================
   CARDS & IMAGES
====================================== */
.card {
    border-radius: 18px;
    box-shadow: 10px 5px 20px black;
    width: 500px;
    text-align: center;

    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 20px 15px 30px black;
}

.card-adia {
    border-radius: 20px;
    box-shadow: 10px 5px 20px black;
    width: 500px;
    height: 500px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    margin-top: 70px;

}

.card-adia:hover {
    transform: scale(1.1);
    box-shadow: 20px 15px 30px black;
}

.card-adia img {
    max-width: 100%;
    max-height: auto;
    display: block;
    align-self: center;
}



/* ======================================
   CUBE 3D
====================================== */
#indication {
    padding-bottom: 70px;
    text-align: center;
    color: var(--accent-color);
}

#align_indication {
    margin-left: 20%;
    display: inline-block;
}

.aligne {
    display: flex;
    gap: 200px;

}


.container {
    width: 600px;
    height: 500px;
    perspective: 2000px;
    display: flex;
    align-items: center;
    filter: drop-shadow(0px 5px 10px black);
}

.cube {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    user-select: none;
}

.cube div {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-wrap: wrap;
    overflow: hidden;
    font-size: 20px;
    border: 3px solid black;
}

.padding {
    padding: 50px;
}

/* Faces du cube */
.front-card {
    transform: rotateY(0deg) translateZ(300px);
    background: var(--tertiary-color);
    color: white;
    text-align: center;
}

.back-card {
    transform: rotateY(180deg) translateZ(300px);
    background: var(--tertiary-color);
    color: white;
    text-align: center;
}

.left-card {
    transform: rotateY(-90deg) translateZ(300px);
    background: var(--accent-color);
    color: white;
    text-align: center;
}

.base-card {
    transform: rotateY(90deg) translateZ(300px);
    background: var(--accent-color);
    color: white;
    text-align: center;
}

/* Animation du cube */
@keyframes rotate {
    from {
        transform: rotateX(0deg) rotateY(0deg);
    }

    to {
        transform: rotateX(360deg) rotateY(360deg);
    }
}

/* ======================================
   SLIDER (BLOCK 2)
====================================== */
.blockPointetSlide {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 700px;
    margin: 0 70px;
    filter: drop-shadow(0px 5px 10px black);
}

.slideblock {
    width: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
}

.slider {
    display: flex;
    transition: transform 1s ease-in-out;
}

.slide {
    min-width: 100%;
    transition: transform 1s ease-in-out, width 1s ease-in-out;
    border-radius: 20px;
}

.slide img {
    width: 100%;
    display: block;
}

.pointblock {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15px;
    text-align: center;
    padding: 5px;
    border-radius: 20px;
}

.point {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: var(--accent-color);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    cursor: pointer;
}

.active-point {
    background-color: white;
}

/* ======================================
   GRAPHIQUES
====================================== */
.chart-container {
    display: flex;
    width: 350px !important;
    height: 350px !important;
    padding: 20px;
    background: #fff;
    border-radius: 18px;
    box-shadow: 0 4px 24px black;
}

.chart-box {
    width: 350px;
    height: 350px;
}

.piecharts {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
    padding-bottom: 24px;
}

/* ======================================
   image serveur de scaleway
====================================== */

.enrouleur {
    display: flex;
    width: 900px;
    height: 350px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 4px 24px black;

}

.imgcarde {
    position: relative;
    flex: 1;
    overflow: hidden;
    transition: flex 0.5s ease-in-out;
    cursor: pointer;
}

.imgcarde img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(70%) contrast(90%);
    transition: filter 0.5s ease-in-out;
}

.imgcarde:hover {
    flex: 3
}

.imgcarde:hover img {
    filter: none
}

.text-overlay {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    filter: brightness(1.5);
    z-index: 2;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.imgcarde:hover .text-overlay {
    opacity: 1;
}

.text-overlay h3 {
    font-size: 30px;
    margin-bottom: 5px;
    font-weight: 600;
}

.text-overlay p {
    font-size: 20px;
    font-weight: 400;
}

.imgserveur {
    display: flex;
    justify-content: center;
    /* centre horizontalement */
    align-items: center;
    margin-top: 20px;
}